/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #FFD700; /* Amarelo */
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

/* Titulos h2 */

.txt-sobre{
    color:#FFD700
}

h2.titulo {
    color: #ffd900; /* Amarelo */
    font-size: 38px;
    text-align: center;
    transition: .2s;
}

h2.titulo span {
    color: #800080; /* Roxo */
    transition: .2s;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #FFD700; /* Amarelo */
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 40px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #FFD700; /* Amarelo */
    text-decoration: none;
    transition: .2s;
}

header a:hover {
    color: #800080; /* Roxo */
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    font-size: 25px; /* Tamanho dos Direcionamento */
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #FFD700;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
}

/* ESTILO DAS ESPECIALIDADES */

section.especialidades {
    padding: 40px 4%;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #FFD700;
}

.especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades-box:hover {
    transform: scale(1.0);
    box-shadow: 0 0 20px #ffffff;
}

.especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */

section.sobre {
    padding: 80px 4%;
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #FFD700;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #800080;/* Roxo */
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
    color:#fff;
}

.btn-social {
    display: flex;
    gap: 10px;
}

.btn-social a {
    display: inline-block;
    width: 40px; /* Largura da imagem */
    height: 40px; /* Altura da imagem */
    border-radius: 50%; /* Borda circular */
    overflow: hidden; /* Garante que a imagem não ultrapasse o tamanho do botão */
}

.btn-social a img {
    width: 100%; /* Preenche o botão horizontalmente */
    height: 100%; /* Preenche o botão verticalmente */
    object-fit: cover; /* Redimensiona a imagem para cobrir o botão */
}

/* ESTILO DO PORTFÓLIO IMGS/DESCR */

section.portifolio {
    padding: 40px;
    border-top: 3px solid #FFD700;
}

.projeto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projeto-item {
    width: calc(33.333% - 20px);
    margin-bottom: 40px;
    position: relative;
    transition: transform 0.3s ease;
}

.projeto-item:hover {
    transform: scale(1.03);
}

.projeto-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.projeto-item:hover .projeto-descricao {
    transform: translateY(0);
}

.portifolio p {
    color:#fff;
}

h3 {
    color:#fff
}

/* ESTILO DO FORMULÁRIO DE CONTATO */

section.formulario {
    padding: 40px 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #ffd900;
}

form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #800080; /* Roxo */
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #FFD700;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Para centralizar verticalmente */
    background-color: #000;
    border-top: 5px solid #FFD700;
    color: #FFD700;
}

.logo-footer img {
    max-width: 100px; /* Ajuste conforme o tamanho desejado */
}

.caixa-home-foot {
    text-align: center;
    flex-grow: 1; /* Para ocupar o espaço restante */
}

.caixa-home-foot p {
    margin: 0; /* Remover margem padrão */
}

.caixa-home-foot a:hover {
    color: #FFD700;
}


/* Animação de flutuar As Imgs P3,P2

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}
*/
